In [1]:
import pickle
from timeit import default_timer as timer

import os
import platform
import tensorflow as tf
import keras;

# *print ("Current file path: {}".format(os.path.dirname(os.path.realpath(__file__))))
print ("Current Working Directory: {}".format(os.getcwd()))
print("Python: {}, TensorFlow:{}, Keras:{}".\
      format(platform.python_version(), tf.__version__, keras.__version__))

random_seed = 1

Using TensorFlow backend.

Current Working Directory: /home/endre/git/finance_ml/src
Python: 3.6.1, TensorFlow:1.2.1, Keras:2.0.5

# Load pickled Features, Labels and Name of each Feature-array

In [2]:
print ("De-pickling features, labels and feature/label names..")
load_start = timer()

# pickled = pickle.load(open("RangeNamesFeaturesAndLabels-mk1.pickle", "rb"))
# pickled = pickle.load(open("RangeNamesFeaturesAndLabels-smallSet-6stocks.pickle", "rb"))
# pickled = pickle.load(open("RangeNamesFeaturesAndLabels-smallSet-50stocks.pickle", "rb"))
pickled = pickle.load(open("RangeNamesFeaturesAndLabels-mediumset-unknownNumStocks.pickle", "rb"))
# pickled = pickle.load(open("RangeNamesFeaturesAndLabels-largeSet-1619stocks.pickle", "rb"))

load_millis = (timer()-load_start) * 1000
print ("De-pickle took {} ms".format(load_millis))

# {'rangeNames': rangeNames, 'features': features, 'labels': labels}
rangeNames = pickled['rangeNames']
features = pickled['features']
labels = pickled['labels']
print("\nRangeNames/features/labels len: {}/{}/{}".\
      format(len(rangeNames), len(features), len(labels)))
numFeatures = len(features[0])
print("\nNumber of Features for each feature-array: {}".format(numFeatures))
print("Number of Labels for each label-array: {}".format(len(labels[0])))

De-pickling features, labels and feature/label names..
De-pickle took 24434.17920399952 ms

RangeNames/features/labels len: 1008922/1008922/1008922

Number of Features for each feature-array: 54
Number of Labels for each label-array: 4

# Split set into Train and Test

In [3]:
import resource
import gc
def mem():
    print('Memory usage: %2.2f MB' % round(resource.getrusage(resource.RUSAGE_SELF).ru_maxrss/1024.0,1))
    
mem()
trainRangeNames = []
trainFeatures = []
trainLabels = []

testRangeNames = []
testFeatures = []
testLabels = []
mem()

gc.collect()
mem()

length = len(rangeNames)
for i in range(length):
    names = rangeNames[i]
    if (names[1] < '2016-01-01'):
        trainRangeNames.append(names)
        trainFeatures.append(features[i])
        trainLabels.append(labels[i])
    else:
        testRangeNames.append(names)
        testFeatures.append(features[i])
        testLabels.append(labels[i])

lenTrainFeatures = len(trainFeatures)

print("TRAIN RangeNames/features/labels len: {}/{}/{} - {:.2f}% of total".\
      format(len(trainRangeNames), lenTrainFeatures, len(trainLabels), (lenTrainFeatures / len(features)) * 100 ))
print("TEST RangeNames/features/labels len: {}/{}/{} - {:.2f}% of total".\
      format(len(testRangeNames), len(testFeatures), len(testLabels), (len(testFeatures) / len(features)) * 100 ))

print("\nTotal loaded features: {}, trainFeatures + testFeatures:{} - {:.4f}%".\
      format(len(features), lenTrainFeatures + len(testFeatures), ((lenTrainFeatures + len(testFeatures)) / len(features)) * 100))

Memory usage: 7892.30 MB
Memory usage: 7892.30 MB
Memory usage: 7892.30 MB
TRAIN RangeNames/features/labels len: 939830/939830/939830 - 93.15% of total
TEST RangeNames/features/labels len: 69092/69092/69092 - 6.85% of total

Total loaded features: 1008922, trainFeatures + testFeatures:1008922 - 100.0000%

In [4]:
# One-hot the labels

# 0:  5 days
# 1: 10 days
# 2: 15 days
# 3: 20 days
label_to_use = 3

good = [1,0]
bad =  [0,1]

trainLabels_onehot = [good if x[label_to_use] > 0 else bad  for x in trainLabels]
testLabels_onehot = [good if x[label_to_use] > 0 else bad  for x in testLabels]
print("One-hotted ok.")

sum_trainLabels = [sum(i) for i in zip(*trainLabels_onehot)]
sum_testLabels = [sum(i) for i in zip(*testLabels_onehot)]
print("Train labels [good, bad]: {} -> [{:.2f}%, {:.2f}%]".\
      format(sum_trainLabels, (sum_trainLabels[0] / len(trainLabels)) * 100, (sum_trainLabels[1] / len(trainLabels)) * 100))
print("Test labels  [good, bad]: {} -> [{:.2f}%, {:.2f}%]".\
      format(sum_testLabels, (sum_testLabels[0] / len(testLabels)) * 100, (sum_testLabels[1] / len(testLabels)) * 100))

One-hotted ok.
Train labels [good, bad]: [505724, 434106] -> [53.81%, 46.19%]
Test labels  [good, bad]: [39999, 29093] -> [57.89%, 42.11%]

# !! RUN FROM HERE WHEN ONLY TWEAKING NETWORK !!

In [63]:
from sklearn.utils import shuffle
import numpy as np

currentTrainPos = 0
current_shuffle = 0
shuff_trainFeatures = []
shuff_trainLabels_onehot = []
def getTrainMiniBatch(miniBatchSize):
    global currentTrainPos, current_shuffle
    global shuff_trainFeatures, shuff_trainLabels_onehot
    # If we'll overflow the features list with this mini_batch, then reset the start position
    if (currentTrainPos + miniBatchSize > lenTrainFeatures):
        currentTrainPos = 0

    # If the start position is 0, then run shuffling of features and labels.
    if (currentTrainPos == 0):
        print("Shuffling training features and labels - {}..".format(current_shuffle))
        shuff_trainFeatures, shuff_trainLabels_onehot = shuffle(trainFeatures, trainLabels_onehot, random_state=current_shuffle)
        current_shuffle += 1

    # Pick out the desired mini_batch size.
    start = currentTrainPos
    end = currentTrainPos + miniBatchSize
    # .. store this mini_batch end pos as the next mini_batch start pos.
    currentTrainPos = end
    
    return np.array(shuff_trainFeatures[start:end]) / 100.0, np.array(shuff_trainLabels_onehot[start:end])
    # return shuff_trainFeatures[start:end], shuff_trainLabels_onehot[start:end]

# Set up Neural Network

In [64]:
n1=800
n2=1600
n3=800
n4=600
out=2
epochs = 100 # Not explicitly used, as we count mini_batches
mini_batch_size = 128
learning_rate = 0.0001  # 0.0001 is good, but maybe use higher learning rate when dropout'ing..
keep_prob_in_train = 1
keep_prob_hid_train = 1
transfer_function = tf.nn.relu
l2_regularization_beta = 0.0000 # This seemed good, but currently having all softmaxed_test_Y to [ 0.53961992,  0.46038002]: 0.025

#========
mini_batches_per_epoch = int(lenTrainFeatures / mini_batch_size)
total_mini_batches = mini_batches_per_epoch * epochs

print("Mini batches per epoch: trainFeats {} / mini_batch_size {} = {}".format(lenTrainFeatures, mini_batch_size, mini_batches_per_epoch))
print("Total mini batches: mini_batches_per_epoch {} * epochs {} = {}".format(mini_batches_per_epoch, epochs, total_mini_batches))

# Reset the default graph, so as to chuck out existing variables
tf.reset_default_graph()

with tf.variable_scope("input"):
    X = tf.placeholder(tf.float32, shape=[None, numFeatures], name="X")
    keep_prob_in = tf.placeholder(tf.float32, name="keep_prob")
    # X_drop = tf.nn.dropout(X, keep_prob_in)
    labels = tf.placeholder(tf.float32, shape=[None, out], name="labels")

with tf.variable_scope("hidden_layers_common"):
    keep_prob_hid = tf.placeholder(tf.float32, name="keep_prob")

def weight_variable(name, shape):
    # return tf.get_variable(name, initializer=tf.glorot_uniform_initializer(seed=random_seed), shape=shape)
    return tf.get_variable(name, initializer=tf.contrib.layers.xavier_initializer(), shape=shape)
    
def bias_variable(name, shape):
    # return tf.get_variable(name, initializer=tf.glorot_uniform_initializer(seed=random_seed), shape=shape)
    # return tf.get_variable(name, initializer=tf.contrib.layers.xavier_initializer(), shape=shape)
    return tf.get_variable(name, initializer=tf.constant_initializer(0.1), shape=shape)

with tf.variable_scope("layer1"):
    w1 = weight_variable("weight", [numFeatures, n1])
    b1 = bias_variable("bias", [n1])
    l1 = tf.matmul(X, w1) + b1
    l1 = transfer_function(l1)
    # l1 = tf.nn.dropout(l1, keep_prob_hid)

with tf.variable_scope("layer2"):
    w2 = weight_variable("weight", [n1, n2])
    b2 = bias_variable("bias", [n2])
    l2 = tf.matmul(l1, w2) + b2
    l2 = transfer_function(l2)
    # l2 = tf.nn.dropout(l2, keep_prob_hid)

with tf.variable_scope("layer3"):
    w3 = weight_variable("weight", [n2, n3])
    b3 = bias_variable("bias", [n3])
    l3 = tf.matmul(l2, w3) + b3
    l3 = transfer_function(l3)
    # l3 = tf.nn.dropout(l3, keep_prob_hid)

with tf.variable_scope("layer4"):
    w4 = weight_variable("weight", [n3, n4])
    b4 = bias_variable("bias", [n4])
    l4 = tf.matmul(l3, w4) + b4
    l4 = transfer_function(l4)
    # l4 = tf.nn.dropout(l4, keep_prob_hid)

with tf.variable_scope("output"):
    wy = weight_variable("weight", [n4, out])
    by = bias_variable("bias", [out])
    Y = tf.matmul(l4, wy) + by

# :: Loss function with L2 Regularization
l2_regularizer = tf.nn.l2_loss(w1) + tf.nn.l2_loss(w2) + tf.nn.l2_loss(w3) \
               + tf.nn.l2_loss(wy)
# NOTE: L1 regularizer: tf.reduce_sum(tf.abs(tensor)) instead of tf.nn.l2_loss(tensor)
# Read here: https://github.com/tensorflow/models/blob/master/inception/inception/slim/losses.py
# Max-norm:
# https://stackoverflow.com/questions/37801832/how-can-i-implement-max-norm-constraints-in-an-mlp-in-tensorflow
# Hmm..: https://stackoverflow.com/questions/34934303/renormalize-weight-matrix-using-tensorflow

loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=Y, labels=labels) +\
                      l2_regularization_beta * l2_regularizer)

# loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=Y, labels=labels))

# :: Optimizer/Trainer
# optimizer = tf.train.AdadeltaOptimizer(learning_rate)
optimizer = tf.train.AdamOptimizer(learning_rate)
# optimizer = tf.train.GradientDescentOptimizer(learning_rate)
train = optimizer.minimize(loss)

# Define Test/Evaluate: Accuracy: Fraction right predictions
argmaxed_Y = tf.argmax(Y, 1)
correct_prediction = tf.equal(argmaxed_Y, tf.argmax(labels, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

# Make Softmax node, to use for evaluation
softmaxed_Y = tf.nn.softmax(Y)

print("Network set up.")

Mini batches per epoch: trainFeats 939830 / mini_batch_size 128 = 7342
Total mini batches: mini_batches_per_epoch 7342 * epochs 100 = 734200
Network set up.

# Train Neural Network

In [ ]:
check_length = len(testFeatures)
check_trainFeatures, check_trainLabels_onehot = shuffle(trainFeatures, trainLabels_onehot, random_state=42)
check_trainFeatures = check_trainFeatures[:check_length]
check_trainLabels_onehot = check_trainLabels_onehot[:check_length]

sess = tf.Session()

# Initialize TensorFlow variables in Session
sess.run(tf.global_variables_initializer())

train_argmaxed_labels = np.argmax(check_trainLabels_onehot, axis=1)
test_argmaxed_labels = np.argmax(testLabels_onehot, axis=1)
_, train_label_counts = np.unique(train_argmaxed_labels, return_counts=True)
_, test_label_counts = np.unique(test_argmaxed_labels, return_counts=True)

import pandas as pd
from IPython.display import display_html
def printStats(what):
    display_html("<hr />")
    train_cost, train_accuracy, train_argmaxed_Y = sess.run([loss, accuracy, argmaxed_Y], 
                                       feed_dict={X: check_trainFeatures,
                                                  labels: check_trainLabels_onehot,
                                                  keep_prob_in: 1.0,
                                                  keep_prob_hid: 1.0})
    test_cost, test_accuracy, test_argmaxed_Y = sess.run([loss, accuracy, argmaxed_Y], 
                                     feed_dict={X: testFeatures,
                                                labels: testLabels_onehot,
                                                keep_prob_in: 1.0,
                                                keep_prob_hid: 1.0})
    _, train_Y_counts = np.unique(train_argmaxed_Y, return_counts=True)
    _, test_Y_counts = np.unique(test_argmaxed_Y, return_counts=True)
    print("{}\n  TRAIN cost/acc:{:.4f}/{:.4f}% {}/{}, TEST cost/acc:{:.4f}/{:.4f}% {}/{}"\
          .format(what, train_cost, train_accuracy*100, train_Y_counts, train_label_counts,
                  test_cost, test_accuracy*100, test_Y_counts, test_label_counts))

    pds_train_labels = pd.Series(train_argmaxed_labels, name='Labels')
    pds_train_Y = pd.Series(train_argmaxed_Y, name='Y train')
    df_confusion_train = pd.crosstab(pds_train_labels, pds_train_Y, margins=True)

    pds_test_labels = pd.Series(test_argmaxed_labels, name='Labels')
    pds_test_Y = pd.Series(test_argmaxed_Y, name='Y test')
    df_confusion_test = pd.crosstab(pds_test_labels, pds_test_Y, margins=True)
    
    html_str = df_confusion_train.to_html() + df_confusion_test.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)
    

printStats("BEFORE Training")

BEFORE Training
  TRAIN cost/acc:2.4107/46.2572% [ 1515 67577]/[37271 31821], TEST cost/acc:1.6336/42.4260% [ 1796 67296]/[39999 29093]

Y train,0,1,All
Labels,,,
0,827,36444,37271
1,688,31133,31821
All,1515,67577,69092
Y test,0,1,All
Labels,,,
0,1008,38991,39999
1,788,28305,29093
All,1796,67296,69092

In [ ]:
time_start = timer()
epoch = 0
for mini_batch in range(1, total_mini_batches+1):
    batch_inputs, batch_labels = getTrainMiniBatch(mini_batch_size)
    sess.run([train, accuracy], feed_dict={X: batch_inputs, 
                                           labels: batch_labels,
                                           keep_prob_in: keep_prob_in_train,
                                           keep_prob_hid: keep_prob_hid_train})
    if ((epoch == 0) and (mini_batch % 100 == 0) and (mini_batch <= 1000)):
        printStats(' ... progress: In "Epoch" {} of {}, mini batch {} of {}'.format(epoch, epochs, mini_batch, total_mini_batches))
    if (((epoch > 0) or (mini_batch > 1000)) and (mini_batch % 500 == 0)):
        print(' ... progress: In "Epoch" {} of {}, mini batch {} of {}'.format(epoch, epochs, mini_batch, total_mini_batches))
        
    if (mini_batch % mini_batches_per_epoch == 0):
        epoch += 1
        printStats('\nAfter "Epoch" {} of {}, mini batch {} of {}'.format(epoch, epochs, mini_batch, total_mini_batches))
        
training_time = timer()-time_start
printStats("\nFINISHED")
print("TRAINING took {} seconds.".format(training_time))

Shuffling training features and labels - 0..
 ... progress: In "Epoch" 0 of 100, mini batch 100 of 734200
  TRAIN cost/acc:1.6950/53.9324% [68190   902]/[37271 31821], TEST cost/acc:1.2255/57.6883% [68137   955]/[39999 29093]

Y train,0,1,All
Labels,,,
0,36816,455,37271
1,31374,447,31821
All,68190,902,69092
Y test,0,1,All
Labels,,,
0,39451,548,39999
1,28686,407,29093
All,68137,955,69092

 ... progress: In "Epoch" 0 of 100, mini batch 200 of 734200
  TRAIN cost/acc:1.2725/52.6573% [39491 29601]/[37271 31821], TEST cost/acc:0.9336/49.0419% [30739 38353]/[39999 29093]

Y train,0,1,All
Labels,,,
0,22026,15245,37271
1,17465,14356,31821
All,39491,29601,69092
Y test,0,1,All
Labels,,,
0,17765,22234,39999
1,12974,16119,29093
All,30739,38353,69092

 ... progress: In "Epoch" 0 of 100, mini batch 300 of 734200
  TRAIN cost/acc:1.2284/50.2475% [25016 44076]/[37271 31821], TEST cost/acc:1.0797/48.1604% [20198 48894]/[39999 29093]

Y train,0,1,All
Labels,,,
0,13956,23315,37271
1,11060,20761,31821
All,25016,44076,69092
Y test,0,1,All
Labels,,,
0,12190,27809,39999
1,8008,21085,29093
All,20198,48894,69092

 ... progress: In "Epoch" 0 of 100, mini batch 400 of 734200
  TRAIN cost/acc:1.2075/48.8783% [17968 51124]/[37271 31821], TEST cost/acc:1.2708/46.3773% [13804 55288]/[39999 29093]

Y train,0,1,All
Labels,,,
0,9959,27312,37271
1,8009,23812,31821
All,17968,51124,69092
Y test,0,1,All
Labels,,,
0,8377,31622,39999
1,5427,23666,29093
All,13804,55288,69092

 ... progress: In "Epoch" 0 of 100, mini batch 500 of 734200
  TRAIN cost/acc:1.5513/47.7899% [ 7470 61622]/[37271 31821], TEST cost/acc:1.3813/43.3885% [ 8931 60161]/[39999 29093]

Y train,0,1,All
Labels,,,
0,4334,32937,37271
1,3136,28685,31821
All,7470,61622,69092
Y test,0,1,All
Labels,,,
0,4908,35091,39999
1,4023,25070,29093
All,8931,60161,69092

 ... progress: In "Epoch" 0 of 100, mini batch 600 of 734200
  TRAIN cost/acc:0.8622/52.3910% [37395 31697]/[37271 31821], TEST cost/acc:0.8306/48.8132% [34537 34555]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20886,16385,37271
1,16509,15312,31821
All,37395,31697,69092
Y test,0,1,All
Labels,,,
0,19585,20414,39999
1,14952,14141,29093
All,34537,34555,69092

 ... progress: In "Epoch" 0 of 100, mini batch 700 of 734200
  TRAIN cost/acc:1.1360/53.4722% [48092 21000]/[37271 31821], TEST cost/acc:0.8502/52.2882% [41256 27836]/[39999 29093]

Y train,0,1,All
Labels,,,
0,26608,10663,37271
1,21484,10337,31821
All,48092,21000,69092
Y test,0,1,All
Labels,,,
0,24145,15854,39999
1,17111,11982,29093
All,41256,27836,69092

 ... progress: In "Epoch" 0 of 100, mini batch 800 of 734200
  TRAIN cost/acc:1.0764/53.6183% [46819 22273]/[37271 31821], TEST cost/acc:0.9357/50.6397% [40829 28263]/[39999 29093]

Y train,0,1,All
Labels,,,
0,26022,11249,37271
1,20797,11024,31821
All,46819,22273,69092
Y test,0,1,All
Labels,,,
0,23362,16637,39999
1,17467,11626,29093
All,40829,28263,69092

 ... progress: In "Epoch" 0 of 100, mini batch 900 of 734200
  TRAIN cost/acc:0.8562/52.5328% [37553 31539]/[37271 31821], TEST cost/acc:0.8566/49.0028% [32492 36600]/[39999 29093]

Y train,0,1,All
Labels,,,
0,21014,16257,37271
1,16539,15282,31821
All,37553,31539,69092
Y test,0,1,All
Labels,,,
0,18628,21371,39999
1,13864,15229,29093
All,32492,36600,69092

 ... progress: In "Epoch" 0 of 100, mini batch 1000 of 734200
  TRAIN cost/acc:0.9435/51.4184% [36739 32353]/[37271 31821], TEST cost/acc:0.8442/50.5312% [38930 30162]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20222,17049,37271
1,16517,15304,31821
All,36739,32353,69092
Y test,0,1,All
Labels,,,
0,22375,17624,39999
1,16555,12538,29093
All,38930,30162,69092

 ... progress: In "Epoch" 0 of 100, mini batch 1500 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 2000 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 2500 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 3000 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 3500 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 4000 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 4500 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 5000 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 5500 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 6000 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 6500 of 734200
 ... progress: In "Epoch" 0 of 100, mini batch 7000 of 734200

After "Epoch" 1 of 100, mini batch 7342 of 734200
  TRAIN cost/acc:1.3881/50.6339% [22915 46177]/[37271 31821], TEST cost/acc:1.5748/47.7277% [27113 41979]/[39999 29093]

Y train,0,1,All
Labels,,,
0,13039,24232,37271
1,9876,21945,31821
All,22915,46177,69092
Y test,0,1,All
Labels,,,
0,15498,24501,39999
1,11615,17478,29093
All,27113,41979,69092

Shuffling training features and labels - 1..
 ... progress: In "Epoch" 1 of 100, mini batch 7500 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 8000 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 8500 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 9000 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 9500 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 10000 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 10500 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 11000 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 11500 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 12000 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 12500 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 13000 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 13500 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 14000 of 734200
 ... progress: In "Epoch" 1 of 100, mini batch 14500 of 734200

After "Epoch" 2 of 100, mini batch 14684 of 734200
  TRAIN cost/acc:1.7932/53.0163% [39303 29789]/[37271 31821], TEST cost/acc:2.2064/50.0810% [41401 27691]/[39999 29093]

Y train,0,1,All
Labels,,,
0,22056,15215,37271
1,17247,14574,31821
All,39303,29789,69092
Y test,0,1,All
Labels,,,
0,23455,16544,39999
1,17946,11147,29093
All,41401,27691,69092

Shuffling training features and labels - 2..
 ... progress: In "Epoch" 2 of 100, mini batch 15000 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 15500 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 16000 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 16500 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 17000 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 17500 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 18000 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 18500 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 19000 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 19500 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 20000 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 20500 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 21000 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 21500 of 734200
 ... progress: In "Epoch" 2 of 100, mini batch 22000 of 734200

After "Epoch" 3 of 100, mini batch 22026 of 734200
  TRAIN cost/acc:2.1002/51.7715% [26953 42139]/[37271 31821], TEST cost/acc:2.6845/48.2082% [26367 42725]/[39999 29093]

Y train,0,1,All
Labels,,,
0,15451,21820,37271
1,11502,20319,31821
All,26953,42139,69092
Y test,0,1,All
Labels,,,
0,15291,24708,39999
1,11076,18017,29093
All,26367,42725,69092

Shuffling training features and labels - 3..
 ... progress: In "Epoch" 3 of 100, mini batch 22500 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 23000 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 23500 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 24000 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 24500 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 25000 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 25500 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 26000 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 26500 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 27000 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 27500 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 28000 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 28500 of 734200
 ... progress: In "Epoch" 3 of 100, mini batch 29000 of 734200

After "Epoch" 4 of 100, mini batch 29368 of 734200
  TRAIN cost/acc:2.3054/51.7730% [25656 43436]/[37271 31821], TEST cost/acc:2.8211/48.6699% [30008 39084]/[39999 29093]

Y train,0,1,All
Labels,,,
0,14803,22468,37271
1,10853,20968,31821
All,25656,43436,69092
Y test,0,1,All
Labels,,,
0,17271,22728,39999
1,12737,16356,29093
All,30008,39084,69092

Shuffling training features and labels - 4..
 ... progress: In "Epoch" 4 of 100, mini batch 29500 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 30000 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 30500 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 31000 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 31500 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 32000 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 32500 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 33000 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 33500 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 34000 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 34500 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 35000 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 35500 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 36000 of 734200
 ... progress: In "Epoch" 4 of 100, mini batch 36500 of 734200

After "Epoch" 5 of 100, mini batch 36710 of 734200
  TRAIN cost/acc:2.5264/52.0813% [24679 44413]/[37271 31821], TEST cost/acc:3.0698/48.5454% [28218 40874]/[39999 29093]

Y train,0,1,All
Labels,,,
0,14421,22850,37271
1,10258,21563,31821
All,24679,44413,69092
Y test,0,1,All
Labels,,,
0,16333,23666,39999
1,11885,17208,29093
All,28218,40874,69092

Shuffling training features and labels - 5..
 ... progress: In "Epoch" 5 of 100, mini batch 37000 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 37500 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 38000 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 38500 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 39000 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 39500 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 40000 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 40500 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 41000 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 41500 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 42000 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 42500 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 43000 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 43500 of 734200
 ... progress: In "Epoch" 5 of 100, mini batch 44000 of 734200

After "Epoch" 6 of 100, mini batch 44052 of 734200
  TRAIN cost/acc:3.2514/52.2014% [23436 45656]/[37271 31821], TEST cost/acc:4.2827/48.0186% [23458 45634]/[39999 29093]

Y train,0,1,All
Labels,,,
0,13841,23430,37271
1,9595,22226,31821
All,23436,45656,69092
Y test,0,1,All
Labels,,,
0,13771,26228,39999
1,9687,19406,29093
All,23458,45634,69092

Shuffling training features and labels - 6..
 ... progress: In "Epoch" 6 of 100, mini batch 44500 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 45000 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 45500 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 46000 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 46500 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 47000 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 47500 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 48000 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 48500 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 49000 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 49500 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 50000 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 50500 of 734200
 ... progress: In "Epoch" 6 of 100, mini batch 51000 of 734200

After "Epoch" 7 of 100, mini batch 51394 of 734200
  TRAIN cost/acc:3.2208/53.4215% [29065 40027]/[37271 31821], TEST cost/acc:4.2899/49.0418% [29483 39609]/[39999 29093]

Y train,0,1,All
Labels,,,
0,17077,20194,37271
1,11988,19833,31821
All,29065,40027,69092
Y test,0,1,All
Labels,,,
0,17137,22862,39999
1,12346,16747,29093
All,29483,39609,69092

Shuffling training features and labels - 7..
 ... progress: In "Epoch" 7 of 100, mini batch 51500 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 52000 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 52500 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 53000 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 53500 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 54000 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 54500 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 55000 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 55500 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 56000 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 56500 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 57000 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 57500 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 58000 of 734200
 ... progress: In "Epoch" 7 of 100, mini batch 58500 of 734200

After "Epoch" 8 of 100, mini batch 58736 of 734200
  TRAIN cost/acc:3.9469/53.9657% [29989 39103]/[37271 31821], TEST cost/acc:5.4688/48.4484% [29583 39509]/[39999 29093]

Y train,0,1,All
Labels,,,
0,17727,19544,37271
1,12262,19559,31821
All,29989,39103,69092
Y test,0,1,All
Labels,,,
0,16982,23017,39999
1,12601,16492,29093
All,29583,39509,69092

Shuffling training features and labels - 8..
 ... progress: In "Epoch" 8 of 100, mini batch 59000 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 59500 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 60000 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 60500 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 61000 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 61500 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 62000 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 62500 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 63000 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 63500 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 64000 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 64500 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 65000 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 65500 of 734200
 ... progress: In "Epoch" 8 of 100, mini batch 66000 of 734200

After "Epoch" 9 of 100, mini batch 66078 of 734200
  TRAIN cost/acc:4.4197/54.5852% [31417 37675]/[37271 31821], TEST cost/acc:6.4949/48.7958% [32431 36661]/[39999 29093]

Y train,0,1,All
Labels,,,
0,18655,18616,37271
1,12762,19059,31821
All,31417,37675,69092
Y test,0,1,All
Labels,,,
0,18526,21473,39999
1,13905,15188,29093
All,32431,36661,69092

Shuffling training features and labels - 9..
 ... progress: In "Epoch" 9 of 100, mini batch 66500 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 67000 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 67500 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 68000 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 68500 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 69000 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 69500 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 70000 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 70500 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 71000 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 71500 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 72000 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 72500 of 734200
 ... progress: In "Epoch" 9 of 100, mini batch 73000 of 734200

After "Epoch" 10 of 100, mini batch 73420 of 734200
  TRAIN cost/acc:5.2423/54.0395% [27434 41658]/[37271 31821], TEST cost/acc:7.9137/48.3573% [29158 39934]/[39999 29093]

Y train,0,1,All
Labels,,,
0,16475,20796,37271
1,10959,20862,31821
All,27434,41658,69092
Y test,0,1,All
Labels,,,
0,16738,23261,39999
1,12420,16673,29093
All,29158,39934,69092

Shuffling training features and labels - 10..
 ... progress: In "Epoch" 10 of 100, mini batch 73500 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 74000 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 74500 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 75000 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 75500 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 76000 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 76500 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 77000 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 77500 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 78000 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 78500 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 79000 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 79500 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 80000 of 734200
 ... progress: In "Epoch" 10 of 100, mini batch 80500 of 734200

After "Epoch" 11 of 100, mini batch 80762 of 734200
  TRAIN cost/acc:5.8232/55.4912% [31419 37673]/[37271 31821], TEST cost/acc:9.0967/49.2257% [32406 36686]/[39999 29093]

Y train,0,1,All
Labels,,,
0,18969,18302,37271
1,12450,19371,31821
All,31419,37673,69092
Y test,0,1,All
Labels,,,
0,18662,21337,39999
1,13744,15349,29093
All,32406,36686,69092

Shuffling training features and labels - 11..
 ... progress: In "Epoch" 11 of 100, mini batch 81000 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 81500 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 82000 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 82500 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 83000 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 83500 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 84000 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 84500 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 85000 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 85500 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 86000 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 86500 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 87000 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 87500 of 734200
 ... progress: In "Epoch" 11 of 100, mini batch 88000 of 734200

After "Epoch" 12 of 100, mini batch 88104 of 734200
  TRAIN cost/acc:7.1672/55.3421% [28546 40546]/[37271 31821], TEST cost/acc:11.1668/48.4745% [28987 40105]/[39999 29093]

Y train,0,1,All
Labels,,,
0,17481,19790,37271
1,11065,20756,31821
All,28546,40546,69092
Y test,0,1,All
Labels,,,
0,16693,23306,39999
1,12294,16799,29093
All,28987,40105,69092

Shuffling training features and labels - 12..
 ... progress: In "Epoch" 12 of 100, mini batch 88500 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 89000 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 89500 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 90000 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 90500 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 91000 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 91500 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 92000 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 92500 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 93000 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 93500 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 94000 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 94500 of 734200
 ... progress: In "Epoch" 12 of 100, mini batch 95000 of 734200

After "Epoch" 13 of 100, mini batch 95446 of 734200
  TRAIN cost/acc:7.4187/56.7229% [32392 36700]/[37271 31821], TEST cost/acc:12.0210/49.2271% [33487 35605]/[39999 29093]

Y train,0,1,All
Labels,,,
0,19881,17390,37271
1,12511,19310,31821
All,32392,36700,69092
Y test,0,1,All
Labels,,,
0,19203,20796,39999
1,14284,14809,29093
All,33487,35605,69092

Shuffling training features and labels - 13..
 ... progress: In "Epoch" 13 of 100, mini batch 95500 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 96000 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 96500 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 97000 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 97500 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 98000 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 98500 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 99000 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 99500 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 100000 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 100500 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 101000 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 101500 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 102000 of 734200
 ... progress: In "Epoch" 13 of 100, mini batch 102500 of 734200

After "Epoch" 14 of 100, mini batch 102788 of 734200
  TRAIN cost/acc:8.8832/56.3582% [29336 39756]/[37271 31821], TEST cost/acc:14.6848/48.6323% [29758 39334]/[39999 29093]

Y train,0,1,All
Labels,,,
0,18227,19044,37271
1,11109,20712,31821
All,29336,39756,69092
Y test,0,1,All
Labels,,,
0,17133,22866,39999
1,12625,16468,29093
All,29758,39334,69092

Shuffling training features and labels - 14..
 ... progress: In "Epoch" 14 of 100, mini batch 103000 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 103500 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 104000 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 104500 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 105000 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 105500 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 106000 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 106500 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 107000 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 107500 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 108000 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 108500 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 109000 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 109500 of 734200
 ... progress: In "Epoch" 14 of 100, mini batch 110000 of 734200

After "Epoch" 15 of 100, mini batch 110130 of 734200
  TRAIN cost/acc:10.5043/56.6462% [30637 38455]/[37271 31821], TEST cost/acc:17.6427/48.9897% [33037 36055]/[39999 29093]

Y train,0,1,All
Labels,,,
0,18977,18294,37271
1,11660,20161,31821
All,30637,38455,69092
Y test,0,1,All
Labels,,,
0,18896,21103,39999
1,14141,14952,29093
All,33037,36055,69092

Shuffling training features and labels - 15..
 ... progress: In "Epoch" 15 of 100, mini batch 110500 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 111000 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 111500 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 112000 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 112500 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 113000 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 113500 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 114000 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 114500 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 115000 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 115500 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 116000 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 116500 of 734200
 ... progress: In "Epoch" 15 of 100, mini batch 117000 of 734200

After "Epoch" 16 of 100, mini batch 117472 of 734200
  TRAIN cost/acc:12.7953/56.9747% [31156 37936]/[37271 31821], TEST cost/acc:22.1275/49.1793% [31018 38074]/[39999 29093]

Y train,0,1,All
Labels,,,
0,19350,17921,37271
1,11806,20015,31821
All,31156,37936,69092
Y test,0,1,All
Labels,,,
0,17952,22047,39999
1,13066,16027,29093
All,31018,38074,69092

Shuffling training features and labels - 16..
 ... progress: In "Epoch" 16 of 100, mini batch 117500 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 118000 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 118500 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 119000 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 119500 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 120000 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 120500 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 121000 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 121500 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 122000 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 122500 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 123000 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 123500 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 124000 of 734200
 ... progress: In "Epoch" 16 of 100, mini batch 124500 of 734200

After "Epoch" 17 of 100, mini batch 124814 of 734200
  TRAIN cost/acc:14.3698/57.7057% [31157 37935]/[37271 31821], TEST cost/acc:25.4832/48.8479% [31921 37171]/[39999 29093]

Y train,0,1,All
Labels,,,
0,19603,17668,37271
1,11554,20267,31821
All,31157,37935,69092
Y test,0,1,All
Labels,,,
0,18289,21710,39999
1,13632,15461,29093
All,31921,37171,69092

Shuffling training features and labels - 17..
 ... progress: In "Epoch" 17 of 100, mini batch 125000 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 125500 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 126000 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 126500 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 127000 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 127500 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 128000 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 128500 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 129000 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 129500 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 130000 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 130500 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 131000 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 131500 of 734200
 ... progress: In "Epoch" 17 of 100, mini batch 132000 of 734200

After "Epoch" 18 of 100, mini batch 132156 of 734200
  TRAIN cost/acc:17.2525/57.3511% [28172 40920]/[37271 31821], TEST cost/acc:31.4999/48.3978% [29480 39612]/[39999 29093]

Y train,0,1,All
Labels,,,
0,17988,19283,37271
1,10184,21637,31821
All,28172,40920,69092
Y test,0,1,All
Labels,,,
0,16913,23086,39999
1,12567,16526,29093
All,29480,39612,69092

Shuffling training features and labels - 18..
 ... progress: In "Epoch" 18 of 100, mini batch 132500 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 133000 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 133500 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 134000 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 134500 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 135000 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 135500 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 136000 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 136500 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 137000 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 137500 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 138000 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 138500 of 734200
 ... progress: In "Epoch" 18 of 100, mini batch 139000 of 734200

After "Epoch" 19 of 100, mini batch 139498 of 734200
  TRAIN cost/acc:18.9934/58.0443% [31979 37113]/[37271 31821], TEST cost/acc:35.0196/48.9955% [32759 36333]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20131,17140,37271
1,11848,19973,31821
All,31979,37113,69092
Y test,0,1,All
Labels,,,
0,18759,21240,39999
1,14000,15093,29093
All,32759,36333,69092

Shuffling training features and labels - 19..
 ... progress: In "Epoch" 19 of 100, mini batch 139500 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 140000 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 140500 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 141000 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 141500 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 142000 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 142500 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 143000 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 143500 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 144000 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 144500 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 145000 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 145500 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 146000 of 734200
 ... progress: In "Epoch" 19 of 100, mini batch 146500 of 734200

After "Epoch" 20 of 100, mini batch 146840 of 734200
  TRAIN cost/acc:21.5579/58.2064% [29555 39537]/[37271 31821], TEST cost/acc:40.1578/48.7611% [30077 39015]/[39999 29093]

Y train,0,1,All
Labels,,,
0,18975,18296,37271
1,10580,21241,31821
All,29555,39537,69092
Y test,0,1,All
Labels,,,
0,17337,22662,39999
1,12740,16353,29093
All,30077,39015,69092

Shuffling training features and labels - 20..
 ... progress: In "Epoch" 20 of 100, mini batch 147000 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 147500 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 148000 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 148500 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 149000 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 149500 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 150000 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 150500 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 151000 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 151500 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 152000 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 152500 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 153000 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 153500 of 734200
 ... progress: In "Epoch" 20 of 100, mini batch 154000 of 734200

After "Epoch" 21 of 100, mini batch 154182 of 734200
  TRAIN cost/acc:23.4501/58.8664% [31747 37345]/[37271 31821], TEST cost/acc:44.8390/49.1330% [32170 36922]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20299,16972,37271
1,11448,20373,31821
All,31747,37345,69092
Y test,0,1,All
Labels,,,
0,18512,21487,39999
1,13658,15435,29093
All,32170,36922,69092

Shuffling training features and labels - 21..
 ... progress: In "Epoch" 21 of 100, mini batch 154500 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 155000 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 155500 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 156000 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 156500 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 157000 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 157500 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 158000 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 158500 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 159000 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 159500 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 160000 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 160500 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 161000 of 734200
 ... progress: In "Epoch" 21 of 100, mini batch 161500 of 734200

After "Epoch" 22 of 100, mini batch 161524 of 734200
  TRAIN cost/acc:28.0751/58.8838% [31299 37793]/[37271 31821], TEST cost/acc:54.9040/48.3529% [30897 38195]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20081,17190,37271
1,11218,20603,31821
All,31299,37793,69092
Y test,0,1,All
Labels,,,
0,17606,22393,39999
1,13291,15802,29093
All,30897,38195,69092

Shuffling training features and labels - 22..
 ... progress: In "Epoch" 22 of 100, mini batch 162000 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 162500 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 163000 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 163500 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 164000 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 164500 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 165000 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 165500 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 166000 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 166500 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 167000 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 167500 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 168000 of 734200
 ... progress: In "Epoch" 22 of 100, mini batch 168500 of 734200

After "Epoch" 23 of 100, mini batch 168866 of 734200
  TRAIN cost/acc:31.2558/58.5987% [29288 39804]/[37271 31821], TEST cost/acc:59.0620/48.0273% [29088 40004]/[39999 29093]

Y train,0,1,All
Labels,,,
0,18977,18294,37271
1,10311,21510,31821
All,29288,39804,69092
Y test,0,1,All
Labels,,,
0,16589,23410,39999
1,12499,16594,29093
All,29088,40004,69092

Shuffling training features and labels - 23..
 ... progress: In "Epoch" 23 of 100, mini batch 169000 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 169500 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 170000 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 170500 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 171000 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 171500 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 172000 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 172500 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 173000 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 173500 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 174000 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 174500 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 175000 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 175500 of 734200
 ... progress: In "Epoch" 23 of 100, mini batch 176000 of 734200

After "Epoch" 24 of 100, mini batch 176208 of 734200
  TRAIN cost/acc:34.2737/59.4714% [32013 37079]/[37271 31821], TEST cost/acc:66.8254/49.0694% [32070 37022]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20641,16630,37271
1,11372,20449,31821
All,32013,37079,69092
Y test,0,1,All
Labels,,,
0,18440,21559,39999
1,13630,15463,29093
All,32070,37022,69092

Shuffling training features and labels - 24..
 ... progress: In "Epoch" 24 of 100, mini batch 176500 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 177000 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 177500 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 178000 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 178500 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 179000 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 179500 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 180000 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 180500 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 181000 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 181500 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 182000 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 182500 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 183000 of 734200
 ... progress: In "Epoch" 24 of 100, mini batch 183500 of 734200

After "Epoch" 25 of 100, mini batch 183550 of 734200
  TRAIN cost/acc:37.2964/59.6480% [31853 37239]/[37271 31821], TEST cost/acc:72.9084/49.1374% [32273 36819]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20622,16649,37271
1,11231,20590,31821
All,31853,37239,69092
Y test,0,1,All
Labels,,,
0,18565,21434,39999
1,13708,15385,29093
All,32273,36819,69092

Shuffling training features and labels - 25..
 ... progress: In "Epoch" 25 of 100, mini batch 184000 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 184500 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 185000 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 185500 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 186000 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 186500 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 187000 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 187500 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 188000 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 188500 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 189000 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 189500 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 190000 of 734200
 ... progress: In "Epoch" 25 of 100, mini batch 190500 of 734200

After "Epoch" 26 of 100, mini batch 190892 of 734200
  TRAIN cost/acc:40.4657/59.7869% [32505 36587]/[37271 31821], TEST cost/acc:79.0328/49.4543% [32764 36328]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20996,16275,37271
1,11509,20312,31821
All,32505,36587,69092
Y test,0,1,All
Labels,,,
0,18920,21079,39999
1,13844,15249,29093
All,32764,36328,69092

Shuffling training features and labels - 26..
 ... progress: In "Epoch" 26 of 100, mini batch 191000 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 191500 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 192000 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 192500 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 193000 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 193500 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 194000 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 194500 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 195000 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 195500 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 196000 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 196500 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 197000 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 197500 of 734200
 ... progress: In "Epoch" 26 of 100, mini batch 198000 of 734200

After "Epoch" 27 of 100, mini batch 198234 of 734200
  TRAIN cost/acc:45.5625/59.7580% [31183 37909]/[37271 31821], TEST cost/acc:88.1069/49.0361% [31393 37699]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20325,16946,37271
1,10858,20963,31821
All,31183,37909,69092
Y test,0,1,All
Labels,,,
0,18090,21909,39999
1,13303,15790,29093
All,31393,37699,69092

Shuffling training features and labels - 27..
 ... progress: In "Epoch" 27 of 100, mini batch 198500 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 199000 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 199500 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 200000 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 200500 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 201000 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 201500 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 202000 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 202500 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 203000 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 203500 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 204000 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 204500 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 205000 of 734200
 ... progress: In "Epoch" 27 of 100, mini batch 205500 of 734200

After "Epoch" 28 of 100, mini batch 205576 of 734200
  TRAIN cost/acc:49.4881/59.6683% [31127 37965]/[37271 31821], TEST cost/acc:97.0659/49.1938% [32124 36968]/[39999 29093]

Y train,0,1,All
Labels,,,
0,20266,17005,37271
1,10861,20960,31821
All,31127,37965,69092
Y test,0,1,All
Labels,,,
0,18510,21489,39999
1,13614,15479,29093
All,32124,36968,69092

Shuffling training features and labels - 28..
 ... progress: In "Epoch" 28 of 100, mini batch 206000 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 206500 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 207000 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 207500 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 208000 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 208500 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 209000 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 209500 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 210000 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 210500 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 211000 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 211500 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 212000 of 734200
 ... progress: In "Epoch" 28 of 100, mini batch 212500 of 734200

After "Epoch" 29 of 100, mini batch 212918 of 734200
  TRAIN cost/acc:56.7526/59.4179% [29026 40066]/[37271 31821], TEST cost/acc:109.8509/48.1894% [29664 39428]/[39999 29093]

Y train,0,1,All
Labels,,,
0,19129,18142,37271
1,9897,21924,31821
All,29026,40066,69092
Y test,0,1,All
Labels,,,
0,16933,23066,39999
1,12731,16362,29093
All,29664,39428,69092

Shuffling training features and labels - 29..
 ... progress: In "Epoch" 29 of 100, mini batch 213000 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 213500 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 214000 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 214500 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 215000 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 215500 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 216000 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 216500 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 217000 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 217500 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 218000 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 218500 of 734200
 ... progress: In "Epoch" 29 of 100, mini batch 219000 of 734200